/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

form {
  margin: 20px 0;
}

.gallery {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.gallery .stats {
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.gallery .stats span {
  display: block;
}
.gallery .stat-title {
  font-weight: bold;
}
.gallery .preview {
  width: 300px;
  border: solid 1px black;
  padding: 5px;
}
.gallery .preview img {
  width: 100%;
}

.loading {
  display: none;
}
.pagination {
  text-align: center;
  padding: 20px;
}

#load-more {
  display: none;
}

.heading {
  text-align: center;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #555;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
